.materialAssigned {
    background-color: #fafafa;
    border-radius: 11px;
    width: 70%;
    min-height: 25%;
    margin: auto;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 10px solid #ED635A; /*   create a border on the side */
  }

  #materialDescriptionInput {
    vertical-align: top;
    padding: 50px 15px;
  }

  #material-columns {
    margin: 10px;
    position: relative;
    overflow: scroll;
    height: 1000px;
  }

#selectResources .active {
    border-bottom: 3px solid #FD8E8E;
    border-radius: 3px;
}

#selectTasks {
  border-bottom: 3px solid #FD8E8E;
  border-radius: 3px;
}

