
/*-----------------------------------------DIFFERENT DEVICES -----------------------------  */
@media (max-width: 820px){
/*   kanban */

  #kanban-board{
    overflow-x: auto;
    overflow-y: scroll;
    width: 200%;
    display: flex;
    justify-content: flex-start;
  }
 

  #taskForm {
    font-size:14px;
    margin: 25px;
  }
  .taskcolumn {
    width: 85%;
    overflow: hidden;

  }

  .overlay{
    min-height: 100%;
    min-width: 100%;
  }


  .buttons {
    text-align: center;
  }

  .popup #taskForm {
    width: 550px;
    height: 720px;
    left: 46%;
  }

  .taskcColumn-btns button{
    font-size: 12px;
  }

}

/* phone screen size */
@media only screen and (max-width: 500px){

  .big {
    display:none;
  }

  p .small {
    display: inline-block;
  }

  #smallTimerDisplay {
    position:relative;
    padding:0;
  }

  
  #kanban-board{
    overflow-y: scroll;
    overflow-x: scroll;
    width: 100%;
  }
  
  #kanban-columns {
    width: 100%;
  }

  #taskForm {
    font-size:14px;
    margin: 25px;

  }

  .overlay{
    max-height: 100%;
    max-width: 100%;
  }

  .popup #taskForm {
    display: inline-block;
    width: 355px;
    height: 750px;
    left: 43.5%;
    
  }

  .taskcolumn{
    margin: 18px;
  }

  #kanban-board {
    width: 300%;
  }

  #kanban-columns {
    display: flex;
    justify-content: flex-start;
  }
  
  


/*   extend columns from due date to time complete */
  .taskcolumn-2 {
    width: 80%;
    overflow: hidden;

  }

  .buttons {
    text-align: center;
  }

/*   increase size of the buttons for cancel and create */
  #create {
    padding: 10px 35px;
  }

   #cancel {
    padding: 10px 35px;
  }

  #addMaterial span {
    display:none;
  }
  #addColumn {
    display: none;
  }

  
}